<p> "id: <%= @foodtruck.id %>"</p>
<p> "name: <%= @foodtruck.name %>"</p>
<p> "number of workers: <%= @foodtruck.num_workers %>"</p>
<p> "checked in for the event: <%= @foodtruck.checked_in %>"</p>
<p> "food type: <%= @foodtruck.food_type %>"</p>
