<a href="/foodtrucks">Foodtrucks</a>
<a href="/dishes">Dishes</a>

<%= link_to 'Foodtruck Dishes', "/foodtrucks/#{@foodtruck.id}/dishes" %>
<p> "id: <%= @foodtruck.id %>"</p>
<p> "name: <%= @foodtruck.name %>"</p>
<p> "number of workers: <%= @foodtruck.num_workers %>"</p>
<p> "checked in for the event: <%= @foodtruck.checked_in %>"</p>
<p> "food type: <%= @foodtruck.food_type %>"</p>
<p>"number of dishes: <%= @foodtruck.dishes.count %>"</p>


<p><%= link_to "Update Foodtruck", "/foodtrucks/#{@foodtruck.id}/edit" %>
   / <%= link_to 'Delete Foodtruck', "/foodtrucks/#{@foodtruck.id}", method: :delete%></p>
